h3
{
    font-size: 25px !important;
}

.btn-success:hover{
    background-color: midnightblue;
}

@keyframes changeColora{
    from{box-shadow: 1px 1px 30px red;}
    to{box-shadow: 1px 1px 30px black;}
}
canvas{
    animation-name: changeColora;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}